<div class="container-trends">
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <div class="post-container">
        <h2><%= post.title %></h2>
        <div class="post-picture">

        </div>
        <p>by <strong><%= post.user.nickname %></strong></p>
        <p><%= post.content.first(300) %></p>
        <p><%= link_to "Look at this inpsiration !", post.url %></p>
        <p><em>published on <%= post.created_at.strftime("%A - %B %d, %Y") %></em></p>
      </div>
    <% end %>
  <% end %>
</div>
