<div class="container-trends">
  <div class="post-title-show">
    <h2><%= @post.title %></h2>
    <p><%= @post.user.nickname %></p>
  </div>
  <div class="post-title-content">
    <p><%= @post.content %></p>
    <p><%= link_to "Look at this inpsiration !", @post.url %></p>
    <p>published on <%= @post.created_at.strftime("%A - %B %d, %Y") %></p>
  </div>

  <div class="grey-card">
    <h2>What others think about it</h2>
    <% @post.comments.each do |comment| %>
      <div class="comment-white-card">
        <p><strong><%= comment.user.nickname %></strong></p>
        <p><%= comment.content %></p>
      </div>
    <% end %>
  <h2>Share your thought with us !</h2>
    <div class="white-card">
      <p><strong><%= current_user.nickname %></strong></p>
      <%= simple_form_for [ @post, @post.comments.build ] do |f| %>
        <%= f.input :content %>
        <div class="d-grid gap-2 col-6 mx-auto p-5">
          <%= f.submit "Share", class: "btn-trends" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
